Modelling/uORF_Track.ipynb
Modelling/Nonaug_analysis.ipynb
Modelling/model_combined.py
Modelling/model_uORF.py
Data/All_Variants/PrepareVariationData.ipynb
Data/RawData/
Data/GTF/
*.csv
!gencodev19_5utr_seq.csv
!gencodev19_5utr_pos.csv
*.tsv
!tis_efficiencies_aug.tsv
!tis_efficiencies_nonaug.tsv
!Calvo_disease.tsv
!kipoi/TestFiles/hg19_idmap.tsv
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.fa
*.fai
*.fasta
*.bed
!gencodev19_5utr_lof.bed
!kipoi/TestFiles/gencodev19_5utr_sorted.bed
!kipoi/TestFiles/gencodev19_5utr_sorted_noprefix.bed
*.gtf
*.energy
*.seq
*.mfe
*.ps
*.in
*.pkl
*.ipynb_checkpoints
*.pyc
*.npy
*.h5
!Models/*.h5
!kipoi/5UTR_Model/model/*.h5
*.svg
*.png
kipoi/5UTR_Model/downloaded
