*.csv
!gencodev19_5utr_seq.csv
!gencodev19_5utr_pos.csv
*.tsv
!tis_efficiencies_aug.tsv
!tis_efficiencies_nonaug.tsv
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.fa
*.fai
*.fasta
*.bed
*.gtf
*.energy
*.seq
*.mfe
*.ps
*.in
*.pkl
*.ipynb_checkpoints
*.pyc
*.npy
*.h5
!Models/*.h5
*.svg
*.png
kipoi/5UTR_Model/downloaded
